/* Typography */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

img {
  width: 100%;
}

/* Containers & Grids */
.container {
  margin: 0 auto;
  max-width: 820px;
  padding: 2rem;
}

.grid {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 2560px) {
  .container {
    max-width: 1600px;
  }
}

/* Base Styles */
.App {
  margin: 0 auto;
}

/* Header */
header {
  padding: 3rem 0 5rem;
  text-align: left;
}

header h2 {
  font-size: 2rem;
}

@media screen and (min-width: 767px) {
  header h2 {
    font-size: 3rem;
  }
}

/* Hero */
.hero {
  border-bottom: 1px solid rgb(165, 165, 165);
}

.hero-img {
  border-radius: 5px;
  max-height: 160px;
}

.hero-img-wrapper h3 {
  font-size: 2rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

/* News Card */
.news-card {
  border-bottom: 1px solid rgb(165, 165, 165);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.news-card-img {
  border-radius: 5px;
  margin-top: 1rem;
  max-height: 160px;
}

.news-card h3 {
  margin-top: 1rem;
  font-size: 2rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 424px) {
  .hero-img {
    max-height: 200px;
  }

  .news-card-img {
    max-height: 200px;
  }
}

@media screen and (min-width: 767px) {
  .hero-img {
    max-height: 100%;
  }

  .news-card-img {
    max-height: 100%;
  }

  .news-card h3 {
    font-size: 2.7rem;
  }

  .hero-img-wrapper h3 {
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 1024px) {
  .news-card-img {
    height: 180px;
  }

  .news-card h3 {
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
  }

  .news-card {
    border-bottom: none;
    height: 350px;
  }

  .news-card p {
    font-size: 1.2rem;
  }

  .hero-img-wrapper h3 {
    font-size: 2.7rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
  }

  .hero-img-wrapper p {
    display: none;
  }
}

@media screen and (min-width: 2560px) {
  .news-card-img {
    height: 250px;
  }

  .news-card {
    height: 350px;
  }
}
