/* Typography */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

img {
  width: 100%;
}

/* Containers & Grids */
.container {
  margin: 0 auto;
  max-width: 820px;
  padding: 2rem;
}

/* Base Styles */
.App {
  margin: 0 auto;
}

/* Header */
header {
  padding: 3rem 0 5rem;
  text-align: left;
}

header h2 {
  font-size: 2rem;
}

/* Hero */
.hero {
  border-bottom: 1px solid rgb(165, 165, 165);
  margin-bottom: 2rem;
}

.hero-img {
  border-radius: 5px;
}

.hero-img-wrapper h3 {
  font-size: 2rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

/* News Card */
.news-card {
  border-bottom: 1px solid rgb(165, 165, 165);
  margin-bottom: 2rem;
}

.news-card-img {
  border-radius: 5px;
  margin-top: -1rem;
  max-height: 160px;
}

.news-card h3 {
  margin-top: 1rem;
  font-size: 2rem;
  padding-bottom: 3rem;
}
